.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
  background: url(/images/bg-pattern-intro.svg) no-repeat,
    linear-gradient($Very-light-red, $Light-red);
  background-size: 140rem 156rem, 100%;
  background-position: -45rem -52rem, top;
  border-radius: 0 0 0 6.25rem;
  width: 100%;

  &__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    padding-top: 5rem;
  }

  &__burger {
    position: absolute;
    top: 4.5rem;
    right: 2rem;
    height: 30px;
    width: 25px;
    background: url("../images/icon-hamburger.svg") no-repeat center top;
    background-size: 100%;
    cursor: pointer;
    z-index: 5;

    &.active {
      background: url("../images/icon-close.svg") no-repeat center top 100%;
      cursor: pointer;
      z-index: 5;
    }
  }

  .learn-more {
    border: 1px solid $text;
    background-color: transparent;
    color: $text;

    &:hover {
      background-color: $text;
      color: hsl(355, 100%, 74%);
    }
  }
}
